# Out-of-tree kmod build debris (bsd.kmod.mk / bsd.prog.mk)
*.o
*.ko
*.kld
*.debug
*.full
*.plist
machine
x86
i386
amd64
*.4.gz
*.cat.gz
@
.depend*
.modules.depend
export_syms
vnode_if.*
vnode_if*.h
opt_*.h
*.S
*.pico
*.Pico
*.po
*.So
*.s
compile/
obj/
man/mandoc.db
